<% provide(:title, "About") %>

<h1>About</h1>

<p>
  <%= site_title %> is created by <%= link_to "Anh Le", "github.com/LaDilettante/" %> to facilitate the teaching of Political Science 630 - Empirical Methods at Duke University.
</p>

<p>
  The two most important features are:
  <ul>
    <li>Randomly assign students to grade each others' work. Looking at others' code is a great way to learn. Furthermore, this prevents the issue of students getting back graded homework but don't look closely at the mistakes since it's been too long.</li>
    <li>Provide an easy-to-access record. Students can look at various graphs of their performance (more graphs to come at request!). Class-wide and personal data can be easily obtained for assessment.</li>
  </ul>
</p>

<p>Note: Deadline starts at the beginning of the due date</p>