<% provide(:title, "About") %>

<h1>About</h1>

<p>
  <%= site_title %> is created as a tool to facilitate various aspects of teaching assistantship. The most important feature is to encourage students grading one another's work and have a easy-to-access record online.
</p>