<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>
  Please view this project and contact me on <a href="http://github.com/LaDilettante">my github page</a>
</p>

<p>
  If you are my students, you knew how to contact me ;-)
</p>