<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to <%= site_title %>!</h1>

    <p>
      <%= link_to "Sign up", signup_path,
            class: "btn btn-large btn-primary" %>
      or
      <%= link_to "Sign in", signin_path,
            class: "btn btn-large btn-primary" %>
    <br>
  </div>

  
<% end %>