<% provide(:title, "Info") %>

<h3>Misc info</h3>

<p><a href="http://ps630-f15.herokuapp.com/meetings/4">Syllabus</a></p>
<p><a href="https://google-styleguide.googlecode.com/svn/trunk/Rguide.xml">Google R style guide - Follow this!</a></p>
<p>Sakai forum for Questions and Answers</p>

<h3>Cross-grading guideline</h3>

The site keeps cross-grading anonymous as long as you don't put identifying information in the pdf. (Let me know if in some way it is not.) Of course you're free to write down your name and be known.

The main reason for cross-grading is for you guys to see your peers' work, which is much more motivational than to see my solution.
<ul>
  <li>If you see great work, learn from the cool things that they do.</li>
  <li>If you see things that can be improved, show them the better way.</li>
  <li>Comment directly in the submission instead of starting a separate document. That way, your comments will be right next to the submitted work, thus the TAs and your peer can understand better.</li>
  <li>Write your comments in red.</li>
</ul>

Taking into account your comments, the TAs (Jan and Anh) will assign the numerical grade.