<% provide(:title, "Info") %>

<h1>Some miscellaneous info about class</h1>

<p><em>Textbook</em>: Data analysis and Graphics in R</p>

<p><em>In-class progress</em>: Write down your name in <a href="http://docs.google.com/document/d/1r0Uo9vDn5ENn0XFqD1GNtP-95_JgMspmARTABtKhIt8/edit">the following Google document</a> so that we can monitor the class progress through exercises
.</p>

<p><em>Piazza link</em>: Piazza is a Q&A site (a sort of StackExchange for ourselves). If you have any question for me, post it on <a href="http://piazza.com/class/hzit9xseuzf77h">our class page I created</a> so that others can see as well. Piazza is used by several Duke classes, so you should create an account anyway.