<% provide(:title, "Info") %>

<h3>Misc info</h3>

<p><a href="http://ps630-f15.herokuapp.com/meetings/4">Syllabus</a></p>
<p><a href="https://google-styleguide.googlecode.com/svn/trunk/Rguide.xml">Google R style guide - Follow this!</a></p>
<p><a href="https://groups.google.com/forum/#!forum/ps630-f15">Google group for Q and A</a></p>

<h3>Cross-grading guideline</h3>

Some relevant facts:
<ul>
  <li>The overall class's grade does not vary that much. Typically for a graduate class, you'll have to actively work to get a failing grade.</li>
  <li>The site keeps cross-grading anonymous as long as you don't put identifying information in the pdf. (Let me know if in some way it is not.) Of course you're free to write down your name and be known.</li>
</ul>

The main reason for cross-grading is for you guys to see your peers' work, which is much more motivational than to see my solution.
<ul>
  <li>If you see great work, learn from the cool things that they do.</li>
  <li>If you see things that can be improved, write comments <em>into their source code</em> and show them the better way.</li>
</ul>

Taking into account your comments, the TAs (Jan and Anh) will assign the numerical grade.