<% provide(:title, "Info") %>

<h1>Some miscellaneous info about class</h1>

<p><em>Textbook</em>: Data analysis and Graphics in R</p>

<p><em>In-class progress</em>: Write down your name in <%= link_to "the following Google document", http://docs.google.com/document/d/1r0Uo9vDn5ENn0XFqD1GNtP-95_JgMspmARTABtKhIt8/edit %> so that we can monitor the class progress through exercises.