<% provide(:title, "Info") %>

<h1>Some miscellaneous info about class</h1>

<p><em>Textbook</em>: Data analysis and Graphics in R</p>

<p><em>In-class progress</em>: Write down your name in <a href="http://docs.google.com/document/d/1r0Uo9vDn5ENn0XFqD1GNtP-95_JgMspmARTABtKhIt8/edit">the following Google document</a> so that we can monitor the class progress through exercises
.</p>

<p><em>Piazza link</em>: Piazza is a Q&A site (a sort of StackExchange for ourselves). If you have any question for me, post it on <a href="http://piazza.com/class/hzit9xseuzf77h">our class page I created</a> so that others can see as well. Piazza is used by several Duke classes, so you should create an account anyway.

<h3>Cross-grading guideline</h3>

Some relevant facts:
<ul>
  <li>The lab's grade is a small factor in your overall class's grade</li>
  <li>The overall class's grade does not vary that much. Typically for a graduate class, you'll have to actively work to get below a B</li>
  <li>All cross-grading is done anonymously. Let me know if in some way it is not.</li>
</ul>

So the main reason for cross-grading is for you guys to see your peers' work, which is much more motivational to see my solution. As you grade someone's work, please:
<ul>
  <li>If you see great work, learn from the cool things that they do</li>
  <li>If you see not-so-great work, write comments and show them a better way to do things (the source code is required to make this easy).</li>
</ul>

Last and least, just give a grade that you think is fair. (The max grade is posted on each assignment page). Since cross-grading is random, whether you're a hard or easy grader it should even out at the end anyway.

TL;DR: Grade to learn, don't learn to grade.