<% provide(:title, "Meeting list") %>

<h3>List of all meetings</h3>

<div class="row">
<div class="span6" >
<table class="table table-hover">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Time</th>
    <th scope="col">Materials</th>
  </tr>
  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= link_to meeting.title, meeting %></td>
      <td><%= meeting.time.strftime("%m/%d/%Y %H:%M %Z") %></td>
      <td>
        <% meeting.meeting_materials.each do |meeting_material| %>
          <ul>
            <%= link_to meeting_material.material_file_name, 
                        meeting_material.material.url %>
          </ul>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>
</div>
