<% provide(:title, "Meeting") %>

<h3><%= @meeting.title %></h3>

<p><%= @meeting.time.strftime("%m/%d/%Y %H:%M %Z") unless @meeting.time.nil? %></p>

<h4>Materials</h4>
<ul>
  <% @meeting.meeting_materials.each do |meeting_material| %>
    <li><%= link_to meeting_material.material_file_name, 
                    meeting_material.material.url %>
    </li>
  <% end %>
</ul>

<% if current_user.teacher? %>
  <% @teacher = current_user %>
  <%= link_to "Edit meeting", edit_meeting_path(@meeting), class: "btn" %>
<% end %>