<% provide(:title, 'All assignments') %>
<h1>All assignments</h1>

<div class="row">
<div class="span6" >
<table class="table table-hover">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Deadline</th>
    <th scope="col">Status</th>
  </tr>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= link_to assignment.title, assignment %></td>
      <td><%= assignment.deadline.strftime("%m/%d/%Y %H:%M") %></td>
      <td><%= assignment.deadline < 1.hour.ago ? "Closed" : "Open" %>, 
          <%= assignment.graded ? "Graded" : "Ungraded" %></td>
    </tr>
  <% end %>
</table>
</div>
</div>

