<% provide(:title, "Profile") %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<% if @user.type == 'Student' %>
  <% @student = @user %>
  <%= render 'student' %>
<% elsif @user.type == 'Teacher' %>
  <% @teacher = @user %>
  <%= render 'teacher' %>
<% end %>

